* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
html, body {
  background-color: #f4f2ea;
  color:#360a05;
}
.header {
  padding:80px;
  text-align: center;
  background:#200603 ;
  color:#feabda;
}
.header h1 {
  font-family: "proxima-nova","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 70px;
}
.navbar {
  overflow: hidden;
  background-color: #feabda;
}
.navbar a {
  float: left;
  display:block;
  color: #200603;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}
.navbar a:hover {
  background-color: #f4f2ea;
  color: black;
}
* {
  box-sizing: border-box;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
.side {
  flex: 30%;
  background: color #f1f1f1;
  padding: 40px;
}
.main {
  flex: 70%;
  background-color: #f4f2ea;
  padding: 40px;
}
.img1 {
  background-image: url(../images/TECH.png);
  background-size: 100% 100%;
  width: 80%;
  padding: 20px;
}
.image {
  background-image: url(../images/me.JPG);
  background-size: cover;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
}
.img2 {
  background-image: url(../images/TECH\ \(1\).png);
  background-size: 100% 100%;
  width: 80%;
  padding: 20px;
}
h3, h4,p,li {
  font-family: 'Courier New', Courier, monospace;
}

@media screen and (max-width: 700px) {
  .row {
    flex-direction: column;
  }
}
@media screen and (max-width: 400px) {
  .navbar a {
    float: none;
    width: 100%;
  }
}
.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
}